VITE_GEOCOMPARE_API_BASE_URL=/api
VITE_GEOCOMPARE_AUTH_USERNAME=
VITE_GEOCOMPARE_AUTH_PASSWORD=
GEOCOMPARE_PROXY_TARGET=https://geocompare.iandorsey.com
GEOCOMPARE_PROXY_AUTH_USERNAME=
GEOCOMPARE_PROXY_AUTH_PASSWORD=
